__pycache__/
*.py[cod]
.venv/
venv/
env/

browser_profile/
browser_profile_perfil1/
browser_profile_perfil2/
logs/
debug/
dist/

data/state.json
data/state_perfil1.json
data/state_perfil2.json
data/config.json

*.tmp
.DS_Store
